<!DOCTYPE html>
<html lang="{{if .Lang}}{{.Lang}}{{else}}en{{end}}">
<head>
    {{if eq .DriverType "ie"}}<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    {{end}}
    <link type="text/css" rel="stylesheet" href="/assets/default.css"></link>
    {{range .CSS}}<link type="text/css" rel="stylesheet" href="/resources/css/{{.}}"></link>{{end}}
    {{range .ComponentCSSFiles}}<link type="text/css" rel="stylesheet" href="{{.}}"></link>{{end}}
    <title>{{.Title}}</title>
</head>
<body>
    <div id="{{.ID}}" class="excitonRoot"></div>
    <script>window.exciton={ID: {{.ID}}, modules: {}, components:{}, callnative: function(a){ {{.NativeRequestJSMethod }}(a);}};</script>
    <script src="/assets/exciton.js"></script>
    {{range .JS}}<script src="/resources/js/{{.}}" defer></script>{{end}}
    {{range .ComponentJSFiles}}<script src="{{.}}" defer></script>{{end}}
</body>
</html>
