<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/exciton/web/assets/webroot.css"></link>
</head>

<body>
    <nav id="menubar" class="navbar"></nav>
    <div id="pagecontainer"></div>
    <script>window.exciton = { ID: {{.ID}} };</script>
    <script src="/exciton/web/assets/exciton-ws.js"></script>
    <dialog id="aboutDialog">
    <h3>About...</h3>
    <div class="dialogContent">
        <p>TODO: not implement yet</p>
    </div>
    <footer>
    <form method="dialog">
        <input class="dialogCloseButton" type="submit" value="Close">
    </form>
    </footer>
    </dialog>
</body>

</html>