<!DOCTYPE html>
<html lang="{{if .Lang}}{{.Lang}}{{else}}en{{end}}">
<head>
    {{if .IsIE}}<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <base href="{{.ResourcesURL}}">
    <script>
        (function () {
            window.exciton = { ID: "{{.ID}}" };
            //pollyfill CustomEvent
            if ( typeof window.CustomEvent === "function" ) return false;
            function CustomEvent( event, params ) {
                params = params || { bubbles: false, cancelable: false, detail: undefined };
                var evt = document.createEvent( 'CustomEvent' );
                evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
                return evt;
            }
            CustomEvent.prototype = window.Event.prototype;
            //pollyfill string.startsWith
            window.CustomEvent = CustomEvent;
            if (!String.prototype.startsWith) {
                String.prototype.startsWith = function(searchString, position) {
                    position = position || 0;
                    return this.indexOf(searchString, position) === position;
                };
            }
        })();    
    </script>{{end}}
    <style media="all" type="text/css">
        html {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        body {
            height: 100%;
            width: 100%;
            margin: 0;
            font-family: "Helvetica Neue", "Segoe UI";
        }
    </style>
    {{range .CSS}}<link type="text/css" rel="stylesheet" href="css/{{.}}" />{{end}}
    {{range .ComponentCSS}}<style>{{.}}</style>{{end}}
    <title>{{.Title}}</title>
</head>
<body>
    <div id="app" data-murlok-root="{{.ID}}"></div>
    <script>window.exciton={ID: {{.ID}}, components:{}}; {{.MesonJS }}(window, window.exciton, function(a){ {{.NativeRequestJSMethod }}(a); });</script>
    {{range .JS}}<script src="js/{{.}}"></script>{{end}}
    {{range .ComponentJS}}<script>{{.}}</script>{{end}}
</body>
</html>
