@import "~normalize.css/normalize.css";

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.excitonRoot {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
